.timer {
	position: relative;
	width: 25%;
	height: 5px;
	background-color: #c0c0c04c;
	border-radius: 0.5rem;
	overflow: hidden;
}

.timer-title {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 0.25rem;
	text-align: center;
}

.timer::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-image: linear-gradient(to right, rgb(128, 0, 60), orange);
	width: var(--time);
	/* transition: width 1s linear; */
}

.remaining-time {
	font-size: 2rem;
}
